/*
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    content: none;
    comment
    background: url("img/calendar.png") no-repeat;
    comment
    content: url("img/calendar.png") no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}
*/
/*
.form__begin::-webkit-calendar-picker-indicator {
    background-image: url('img/calendar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
  }
  */
body {
    margin: 0;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
}

.form__begin,
.form__end {
    border-radius: 5px;
    height: 30px;
    width: 170px;
}

.date__list {
    width: 100%;
    justify-content: space-between;
    column-gap: 10px;
}

h3,
h4,
h5,
h6,
h1,
h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.form__begin {
    border-image: "img/calendar.png" no-repeat;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}


.class_checkbox {
    height: 20px;
    content: "checkbox.png"
}

.class_checkbox.checked {
    background-color: green;
}

.container {
    display: flex;
    justify-content: space-between;
    background-image: url("../img/mers.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;

}

.leftside {}

.leftside__heading {
    font-size: 30px;
    margin-bottom: 50px;
}

.leftside__subheading {
    font-size: 20px;
    margin-bottom: 30px;
}

.leftside__list {
    list-style: url("../img/Ok.png");
}
/* mybypass2405Alexngl */

.list__item {}

.list__item-img {}

.list__item-text {
    transform: translate(0, -6px);
}

.rightside {
    width: 400px;
    height: 260px;
    background-color: rgba(0, 117, 0, 0.6);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.rightside__form {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: space-between;
}

.rightside__heading {
    font-size: 20px;
    font-weight: 300;

}

.checkbox__list {
    display: flex;
    flex-wrap: wrap;

}

.date__list {
    display: flex;
    justify-content: space-between;
}

.form__begin {}

.form__end {}

.form__subheading {
    font-size: 18px;
}

.form__checkbox {}

.btn {
    width: 380px;
    height: 30px;
    background-color: rgb(47, 154, 47);
    border: 2px solid white;
    border-radius: 15px;
    color: white;


}